<!DOCTYPE html>
<html>  
	<head> 
		<meta charset = "utf-8"> 

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">

        <!-- LOCAL TEST
        <script type="text/javascript" src="/static/js/daypilot-all.min.js?v=2021.2.261"></script> 
        <link href="/static/css/main.css?v=2021.2.261" type="text/css" rel="stylesheet"/>
        -->

        <!-- DEPLOY -->
        <script type="text/javascript" src="/scheduler/static/js/daypilot-all.min.js?v=2021.2.261"></script> 
        <link href="/scheduler/static/css/main.css?v=2021.2.261" type="text/css" rel="stylesheet"/>

        <link rel="icon" href="data:,">
	</head> 

	<body>
        <div class="container-fluid">

            <div class="well">
                <div class="row">
                    <h2><i class="glyphicon glyphicon-calendar"></i> Testbed resource reservation </h2>
                    <p>Hi <span id="username">{{username}}</span>!</p>
                    <p>To make a reservation request, please select a period in calendar and follow the instructions.</p> 
                    <!--input type="button" class="btn btn-default" data-toggle="modal" data-target="#help_modal" value="How to use?" /-->
                </div>
			</div>

            <div class="well">
                <div class="row justify-content-center">
                        <h3 style="text-align: center;">Calendar</h3>
                        <br>

                        <div style="display: flex;">
                            <div style="margin-right: 10px;">
                                <div id="nav"></div>
                            </div>
                            <div style="flex-grow: 1;">
                                <div id="dp"></div>
                            </div>
                        </div>

                        <!-- Script for calendar must be called after calendar ID init-->
                        <!-- LOCAL TEST
                        <script type="text/javascript" src="/static/js/calendar_{{option}}.js"></script>
                        -->
                        <!-- DEPLOY -->
                        <script type="text/javascript" src="/scheduler/static/js/calendar_{{option}}.js"></script>

                </div>
            </div>

        </div>
    </body>
    
</html>